.container {
  padding: 2rem 2.5rem;
}

.row {
  display: flex;
}

.hidden {
  display: none;
}

.card {
  position: relative;
  margin: 5rem auto;
  background-color: white;
  max-width: min(85%, 660px);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.card--img{
  max-width: 100%;
  border-radius: 10px 10px 0 0;
}

.card--info__intro{
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.3rem;
  color: var(--primary1);
}

.card--info__description{
  color: var(--primary2);
  line-height: 1.75;
}

.social {
  display: flex;
  align-items: center;
  padding-top: 0;
}

.social--img{
  width: 50px;
  border-radius: 50%;
  margin-right: .5rem;
}

.social__text{
  margin-right: auto;
  h2{
    margin: 0;
    font-size: 1rem;
    color: var(--primary1);
  }
  p {
    margin: 0;
    color: var(--primary2);
  }
}

.share {
  border-radius: 50%;
  background-color: var(--background);
  border: none;
  padding: .75rem;
}

.share--links {
  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: 76px;
  background-color: var(--primary1);
  color: white;
  border-radius: 0 0 10px 10px;
  align-items: center;
  gap: .5em;
  p{
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: .5rem;
    color: var(--neutral);
  }
  .share--links__icon:nth-child(4){
    margin-right: auto;
  }
  button{
    background-color: transparent;
    border: none;
  }
  .share-active{
    border-radius: 50%;
    padding: .75rem;
    border: none;
    background-color: var(--neutral);
  }
}

@media (min-width: 700px){
  .card{
    display: flex;
    height: 350px;
    max-width: 900px;
    margin: 20rem auto;
    .card--img{
      height: 350px;
      width: 40%;
      max-width: 100%;
      object-fit: cover;
      border-radius: 10px 0 0 10px;
    }
    .column{
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
    }
    .share--links{
      height: 50px;
      bottom: 110px;
      right: -75px;
      padding: 0 1rem;
      width: 250px;
      border-radius: 10px;
      align-items: center;
      justify-content: center;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    }
    .share--links__icon{
      width: 100%;
    }
    .share-active{
      display: none;
    }
    }
  }




