*, *::after, *::before {
  box-sizing: border-box;
}

:root {
  font-family: "Manrope", sans-serif;
  line-height: 1.5;
  font-weight: 500;
  font-size: 13px;
  --primary1: hsl(217, 19%, 35%);
  --primary2: hsl(214, 17%, 51%);
  --neutral: hsl(212, 23%, 69%);
  --background: hsl(210, 46%, 95%);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  background-color: var(--background);
  min-width: 320px;
  min-height: 100vh;
}
